body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: white;
    text-align: center;
}

h1 {
    color: #d4af37;
    font-size: 45px;
    margin-top: 40px;
}

h2 {
    color: white;
}

p, li {
    font-size: 18px;
}

section {
    padding: 30px;
}

button {
    background: #d4af37;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
